/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    color: #fff;
    background-color: #000;
    background-image: image-url('cutcube.png');
    text-align: center;
    font-family: sans-serif;
    max-width: 100%;
}

a {
    color: white;
    font-weight: bold;
}

.legend {
    font-size: 12px;
    text {
        fill: white;
    }
}

rect {
    stroke-width: 2;
}

.chart {
    padding-top: 1em;
    max-width: 100%;
}

.form-group {
    padding: 1em;

    input[type="file"] {
        padding: 1em;
        background: rgba(255, 255, 255, .3);
    }

    .btn-primary {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }

    .btn-primary:focus,
    .btn-primary:active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

    .btn-primary:hover,
    .btn-primary:active {
        color: #333;
        text-decoration: none;

    }

    .btn-primary:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

    .btn-primary[disabled] {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: #428bca;
        border-color: #357ebd;
    }
}
