.chart {
    width: 360px;
    height: 360px;
    position: relative;
    margin: 0 auto;
}

.tooltip {
    color: white;
    display: none;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    top: 360px;
    z-index: 10;
    margin: 0 auto;
}

#personality-container {
    visibility: hidden;
}
