.chart {
    width: 360px;
    height: 360px;
    position: relative;
    margin: 0 auto;
}

.tooltip {
    color: white;
    display: none;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    top: 360px;
    z-index: 10;
    margin: 0 auto;
}

#personality-container {
    visibility: hidden;
}


.legend {
    font-size: 12px;
    text {
        fill: white;
    }
}

rect {
    stroke-width: 2;
}

.chart {
    padding-top: 1em;
    max-width: 100%;
}
