<div>Your personality profile is ready.</div>
<div class="main">
  <p>
    <div class="form-group">
      <%= link_to(@personality_profile) do %>
        <button class="btn btn-primary">View my profile -></button>
      <% end %>
    </div>
  </p>
</div>
