<div>Your personality profile is ready.</div>
<div class="main">
  <p>
    To view it, head over to<br />
    <%= link_to(@personality_profile, {id: "profile-link"}) do %>
        http://personalization.transactiontranslation.com<%= personality_profile_path(@personality_profile) %>
    <% end %>
  </p>
</div>
