<!DOCTYPE html>
<html>
  <head>
    <title>Transaction / Translation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>
        Transaction / Translation
      </h1>
    </header>
    <%= yield %>
  </body>
</html>
