<!DOCTYPE html>
<html>
  <head>
    <title>transactions / translations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
  </head>

  <body>
    <header>
      <h1>
        transactions / translations
      </h1>
    </header>
    <%= yield %>
  </body>
</html>
